<div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <div class="col-6 mx-auto">
                <h1 class="display-3 ">HOA System</h1>
                <p class="lead">Lorem ipsum dolor sit amet, has amet bonorum corrumpit te, nam fuisset conceptam mediocritatem at. Ex
                    ius dicit senserit. Tacimates expetenda torquatos no vim, ne ius integre prodesset, esse commune
                    eu vis. Eum te detraxit convenire.</p>
                <hr class="my-2">
                <p>
                    <a name="signUp" id="" class="btn btn-primary" href="#" role="button">Sign Up</a>
                </p>
                <p>{{2+2}}</p>

                <p class="lead"></p>
            </div>
        </div>
    </div>
    <div class="row bg-light m-auto">
        <div class="col-4">
            <div class="m-2 mx-auto">
                <div class="w-50 mx-auto">
                    <img src="assets/img/HouseSquare_1000x1000.jpg" class="img-fluid rounded" alt="">
                </div>
                <div class="w-75 text-center mx-auto">
                    <p>Lorem ipsum dolor sit amet, has amet bonorum corrumpit te, nam fuisset conceptam mediocritatem at.
                        Ex ius dicit senserit. </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="m-2 mx-auto">
                <div class="w-50 mx-auto">
                    <img src="assets/img/HouseSquare_1000x1000.jpg" class="img-fluid rounded" alt="">
                </div>
                <div class="w-75 text-center mx-auto">
                    <p>Lorem ipsum dolor sit amet, has amet bonorum corrumpit te, nam fuisset conceptam mediocritatem at.
                        Ex ius dicit senserit. </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="m-2 mx-auto">
                <div class="w-50 mx-auto">
                    <img src="assets\img\HouseSquare_1000x1000.jpg" class="img-fluid rounded" alt="">
                </div>
                <div class="w-75 text-center mx-auto">
                    <p>Lorem ipsum dolor sit amet, has amet bonorum corrumpit te, nam fuisset conceptam mediocritatem at.
                        Ex ius dicit senserit. </p>
                </div>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="loginModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header bg-dark">
                    <h4 class="modal-title ceter-aligne text-light">Log In Details</h4>
                    <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        <input type="email" class="form-control" name="" id="loginEmail" aria-describedby="helpId" placeholder="e-mail">
                        <small id="helpId" class="form-text text-muted"></small>
                        <input type="password" class="form-control" name="" id="loginPass" aria-describedby="helpId" placeholder="Password">
                        <small id="helpId" class="form-text text-muted"></small>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondery" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="login()">Login</button>
                    </div>
                </div>
            </div>
        </div>