<div class="container" ng-controller="votingCtrl">
    <navbar-home-directive></navbar-home-directive>
    {{votings.voting}}

    <div class="row">

    </div>

    <!-- Modal -->
    <div class="modal fade" id="newVotingModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header float-left bg-dark">
                    <h4 class="modal-title text-light" id="modelTitleId">Create new Voting</h4>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="align-left">
                        <div class="form-group">
                            <label class="bold" for="votingTitle">Title:</label>
                            <input type="text" class="form-control" name="" id="votingTitle" placeholder="Title" ng-model="newVoting.votingTitle">
                            <label for="votingDetails">Details:</label>
                            <input type="textarea" class="form-control" name="" id="votingDetails" placeholder="Describe the issue you want voting on"
                                ng-model="newVoting.votingDetails">
                            <label for="votingOptions">Options:</label>
                            <div ng-repeat="optionValue in votingOptions">
                                <input type="text" class="form-control" name="optionValue" id="optionValue" placeholder="option"
                                    ng-model="newVoting.votingOptions">
                            </div>
                            <button class="form-text bg-light border-0 font-weight-bold text-primary mr-4" ng-click="addOption()">
                                <span>+ add option</span>
                            </button>
                            <label for="votingCloseDate"> Voting End date:</label>
                            <input type="date" class="form-control" name="votingCloseDate" id="votingCloseDate" ng-model="newVoting.votingCloseDate">
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="createVoting()" data-dismiss="modal">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mx-auto ">
        <div class="col-md-6 border border-top-0 border-bottom-0 border-left-0">
            <div class="row form-inline mx-auto ">
                <div class="col-12 mx-auto">
                    <!-- Button trigger modal of new message -->
                    <button class="btn border float-right border-0 bg-light font-weight-bold text-primary mr-4" data-toggle="modal" data-target="#newVotingModal">
                        <span>
                            <u> New Voting</u>
                        </span>
                    </button>
                </div>
            </div>
            <h4>Active Votings</h4>
            <div id="accordion">
                <div class="card " ng-repeat="voting in votings | orderBy : votingId : reverse  ">
                    <div class="card-header" id="heading{{voting.votingId}}">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{voting.votingId}}" aria-expanded="true" aria-controls="collapse{{voting.votingId}}">
                                <span>{{voting.votingTitle}}</span>
                                <span>
                                    <i class="material-icons">assignment</i>
                                </span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse{{voting.votingId}}" class="collapse show" aria-labelledby="heading{{voting.votingId}}" data-parent="#accordion">
                        <div class="card-body d-flex flex-column">
                            <div class="row">
                                <ul class="list-group col">
                                    <li class="list-group-item">
                                        <span class="font-weight-bold">Voting details: </span>
                                        <br>
                                        <span>{{voting.votingDetails}}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="font-weight-bold">Voting options(select): </span>
                                        <br>
                                        <div ng-repeat="option in voting.votingOptions">
                                            <span>{{option.optionValue}}</span>
                                            <span>
                                                <input class="form-group" type="radio" name="vote">
                                            </span>
                                        </div>
                                        <span class="float-right">
                                            <button type="button" class="btn btn-primary">Vote !</button>
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="font-weight-bold">Voting will be closed on: </span>
                                        <br>
                                        <span>{{voting.votingCloseDate | date:'dd-MM-yyyy'}}</span>
                                    </li>
                                    <li class="list-group-item">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 border border-top-0 border-bottom-0 border-right-0">
            <div class="row form-inline mx-auto">
                <input type="search" class="form-control w-100 m-2" name="" id="searchInVotings" placeholder="Search by voting title" ng-model="searchVotings">
            </div>
            <h4>Voting Results</h4>
            <div id="accordion">
                <div class="card " ng-repeat="voting in votings | filter: closedVotings">
                    <div class="card-header" id="heading{{voting.votingId}}">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse show" data-target="#collapse{{voting.votingId}}" aria-expanded="true" aria-controls="collapse{{voting.votingId}}">
                                <span>{{voting.votingTitle}}</span>
                                <span>
                                    <i class="material-icons">assignment_turned_in</i>
                                </span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse{{voting.votingId}}" class="collapse show" aria-labelledby="heading{{voting.votingId}}" data-parent="#accordion">
                        <div class="card-body d-flex flex-column">
                            <div class="row">
                                <ul class="list-group col">
                                    <li class="list-group-item border-0">
                                        <span class="font-weight-bold">Voting details: </span>
                                        <br>
                                        <span> {{voting.votingDetails}}</span>
                                    </li>
                                    <li class="list-group-item bg-light text-primary border border-primary">
                                        <span class="font-weight-bold">Vote closed on:</span>
                                        <br>
                                        <span>{{voting.votingCloseDate | date:'dd-MM-yyyy'}}</span>
                                    </li>
                                </ul>
                                <div class="col border-0">
                                    <span class="font-weight-bold">Voting Results</span>
                                    <div google-chart chart="myChartObject"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer-directive></footer-directive>

</div>