<div class="container" ng-controller="votingCtrl">
    <navbar-home-directive></navbar-home-directive>
    {{votings.voting}}

    <div class="row">
        <div class="row float-right">
            <div class="col-12 mx-auto">
                <!-- Button trigger modal of new message -->
                <button class="btn border float-right border-0 bg-light font-weight-bold text-primary mr-4" data-toggle="modal" data-target="#newVotingModal">
                    <span>
                        <u> New Voting</u>
                    </span>
                </button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="newVotingModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header float-left bg-dark">
                    <h4 class="modal-title text-light" id="modelTitleId">Create new Voting</h4>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="align-left">
                        <div class="form-group">
                            <label class="bold" for="votingTitle">Title:</label>
                            <input type="text" class="form-control" name="" id="votingTitle" placeholder="Title" ng-model="newVoting.votingTitle">
                            <label for="votingDetails">Details:</label>
                            <input type="textarea" class="form-control" name="" id="votingDetails" placeholder="Describe the issue you want voting on" ng-model="newVoting.votingDetails">
                            <label for="votingOptions">Options:</label>
                            <input type="text" class="form-control" name="" id="votingOptions" placeholder="option" ng-model="newVoting.votingOption">
                            <button class="form-text bg-light border-0 font-weight-bold text-primary mr-4" ng-click="addOption()">
                                <span>+ add option</span>
                            </button>
                            <label for="votingCloseDate"> Voting End date:</label>
                            <input type="date" class="form-control" name="" id="votingCloseDate" ng-model="newVoting.votingCloseDate">
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="creatVoting()" data-dismiss="modal">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h4>Active Votings</h4>
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="heading{{userId}}">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{userId}}" aria-expanded="true" aria-controls="collapse{{userId}}">
                                <span>{{tenant.userFirstName}}</span>
                                <span>{{tenant.userLastName}}</span>
                                <span>
                                    <i class="btn material-icons" ng-show="{{tenant.isManager}}">card_membership</i>
                                    <!--span>Comittee memeber</span-->
                                </span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse{{userId}}" class="collapse show" aria-labelledby="heading{{userId}}" data-parent="#accordion">
                        <div class="card-body d-flex flex-column">
                            <div class="row">
                                <img src="app\assets\img\placeholdersq.PNG" class="img-fluid rounded float-left p-2" alt="">
                                <ul class="list-group ">
                                    <li class="list-group-item border-0">
                                        <span>Email: {{tenant.userEmail}}</span>
                                    </li>
                                    <li class="list-group-item border-0">
                                        <span>Apartment: {{tenant.userApt}}</span>
                                    </li>
                                </ul>
                                <div class="ml-auto p-2">
                                    <button type="button" class="btn btn-warning border">Update</button>
                                    <button type="button" class="btn btn-danger border">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>Voting Results</h4>
            <div class="row">

            </div>

        </div>
    </div>
    <footer-directive></footer-directive>

</div>