<div class="container" ng-controller="votingCtrl">
    <navbar-home-directive></navbar-home-directive>
    {{votings.voting}}

    <div class="row">
        <div class="row float-right">
            <div class="col-12 mx-auto">
                <!-- Button trigger modal of new message -->
                <button class="btn border float-right border-0 bg-light font-weight-bold text-primary mr-4" data-toggle="modal" data-target="#newVotingModal">
                    <span>
                        <u> New Voting</u>
                    </span>
                </button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="newVotingModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header float-left bg-dark">
                    <h4 class="modal-title text-light" id="modelTitleId">Create new Voting</h4>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="align-left">
                        <div class="form-group">
                            <label class="bold" for="votingTitle">Title:</label>
                            <input type="text" class="form-control" name="" id="votingTitle" placeholder="Title" ng-model="newVoting.votingTitle">
                            <label for="votingDetails">Details:</label>
                            <input type="textarea" class="form-control" name="" id="votingDetails" placeholder="Describe the issue you want voting on"
                                ng-model="newVoting.votingDetails">
                            <label for="votingOptions">Options:</label>
                            <input type="text" class="form-control" name="" id="votingOptions" placeholder="option" ng-model="newVoting.votingOption">
                            <button class="form-text bg-light border-0 font-weight-bold text-primary mr-4" ng-click="addOption()">
                                <span>+ add option</span>
                            </button>
                            <label for="votingCloseDate"> Voting End date:</label>
                            <input type="date" class="form-control" name="" id="votingCloseDate" ng-model="newVoting.votingCloseDate">
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="creatVoting()" data-dismiss="modal">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mx-auto p-1">
        <div class="col-md-6 border border-top-0 border-bottom-0 border-left-0">
            <h4>Active Votings</h4>
            <div id="accordion">
                <div class="card" ng-repeat="voting in votings ">
                    <div class="card-header" id="heading{{userId}}">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{userId}}" aria-expanded="true" aria-controls="collapse{{userId}}">
                                <span>{{newVoting.votingTitle}}</span>
                                <span>
                                    <i class="material-icons">assignment</i>
                                </span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse{{userId}}" class="collapse show" aria-labelledby="heading{{userId}}" data-parent="#accordion">
                        <div class="card-body d-flex flex-column">
                            <div class="row">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span>{{votingDetails}}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span>{{votingOptions.optionValue}}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span>{{votingCloseDate | date:'dd-MM-yyyy'}}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span>{{votingVotes}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 border border-top-0 border-bottom-0 border-right-0">
            <h4>Voting Results</h4>
            <div id="accordion">
                <div class="card" ng-repeat="voting in votings "> 
                    <div class="card-header" id="heading{{userId}}">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{userId}}" aria-expanded="true" aria-controls="collapse{{userId}}">
                                <span>{{voting.votingTitle}}</span>
                                <span>
                                    <i class="material-icons">assignment_turned_in</i>
                                </span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse{{userId}}" class="collapse show" aria-labelledby="heading{{userId}}" data-parent="#accordion">
                        <div class="card-body d-flex flex-column">
                            <div class="row">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span class="font-weight-bold">Voting details: </span>
                                        <span> {{voting.votingDetails}}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="font-weight-bold">Vote closed on:</span>
                                        <span>{{voting.votingCloseDate | date:'dd-MM-yyyy'}}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="font-weight-bold">Votings: </span>
                                        <span>{{voting.votingVotes}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <footer-directive></footer-directive>

</div>